<!--{% extends 'blog/base.html' %}-->
<!--{% load staticfiles %}-->

{% block right_side %}

<h1>hahahahahahahhahah</h1>

<!-- Start Right Side -->
<div id="right_side">
  <div class="right_side">
    <!-- Start Right Content -->
    <div class="right_content">
      <div class="error_404"></div>
    </div>
    <div class="cleaner"><!--Cleaner--></div>
    <!-- End Right Content -->
  </div>
  <div class="sub_block"><div class="sub_border"></div></div>
</div>
<!-- End Right Side -->

{% endblock %}


